name: release
on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 10 * * *'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: '20'
      - name: Check out my other private repo
        uses: actions/checkout@master
        with:
          repository: Fallenbagel/jellyseerr
          path: jellyseerr
      - name: Check out my other private repo
        uses: actions/checkout@master
        with:
          repository: loeken/docker-jellyseerr
          path: docker-jellyseerr

      - name: patch Dockerfile
        run: cp docker-jellyseerr/Dockerfile jellyseerr/Dockerfile
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - run: |
          ls -la
          ls -la jellyseerr
          rm jellyseerr/.dockerignore
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: true
          tags: loeken/jellyseerr:2.7.3
          context: ./jellyseerr
          platforms: linux/amd64
          no-cache: false      
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            COMMIT_TAG=2.7.3

